$bp-small : 960px;
$bp-large : 100%; 

$mycol : rgba(120, 0, 0, 0.7);
$noir : rgba(0, 0, 0, 0.8);


$font-first: "Roboto", Helvetica, Arial, sans-serif;
$font-second: "Alegreya", Cambria, Times New Roman, serif;